<h1><%= @student.to_s %></h1>

<% if @student.active %>
  This student is currently active.
<% else %>
  This student is currently inactive.
<% end %>
<br><br>

<%= link_to 'Back to Index', students_path %>
